body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#logo{
    
        background-color: red;
        width: 2.5em;
        margin-left: 0.5em;
        color: #ffffff;
        text-align: center;
        height: 2em;
        box-shadow: 1px 4px 1px brown;
        border-radius: 0.1em;
        padding-top: 0.6em;
        font-size: 1.2em;
       
       
    }
.header{
    display: flex;
}    
.text{
    color: red;
    font-weight: 700;
    margin-left: 2em;
    padding-top: 0.9em;
}
.cases{
    border: 0.1px solid #f5bbbb;
    width: 14em;
    margin-left: 2em;
    padding-left: 0.5em;
    padding-bottom: 2.5em;
    box-shadow: 1px 2px #f19090;
}
.fa-caret-up {
    color: red;
    margin-left: 0.5em;
}
span{
    font-weight: 700;
}
.fa-caret-down{
    color: green;
    margin-left: 0.5em;
}
.dashboard{
    display: flex;
    justify-content: space-between;
    padding-right: 5em;
}
.data {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5em;
    margin-left: 2.1em;
    position: relative;
    
}
.data table {
    width: 56.5em;
    box-shadow: 1px 4px 1px lightgray;
}
.tips {
    width: 14.8em;
    border: 1px solid #e2e2e2;
    margin-right: 5em;
    margin-bottom: 2em;
    height: 11em;
    
}
.tips p {
    text-align: center;
    color: red;
    border: .1px solid #e49191;
    background-color: #e49191;
    font-weight: 800;
    width: 12em;
    margin-left: 1em;
    border-radius: 5px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
img {
    margin-left: 1em;
}

#spinner{
    border: 5px solid #eee;
    width: 50px;
    height:50px;
    border-top-color: rgb(221, 25, 58);
    position: absolute;
    left: 30em;
    top:10em;
    animation: spin 0.75s linear infinite;
    border-radius: 100%
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}